#!/usr/bin/env zsh

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List all files colorized in long format
# alias l="ls -lF ${colorflag}"
#
# # List all files colorized in long format, excluding . and ..
# alias la="ls -lAF ${colorflag}"
#
# # List only directories
# alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"
#
# # Always use color output for `ls`
# alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
#alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias grepi='grep -i'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# IP addresses
alias extip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="hostname -I"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Display colormap
function colormap() {
  for i in {0..255}; do print -Pn "%K{$i}  %k%F{$i}${(l:3::0:)i}%f " ${${(M)$((i%6)):#3}:+$'\n'}; done
}

# Measure zsh loading time
function zsh_measure_time() {
    for i in $(seq 1 10); do /usr/bin/time zsh -i -c exit; done
}

# USAGE OF COMMON PYTHON VIRTUAL ENVIRONMENTS
# Conda environments
alias use-conda='eval "$(~/.miniconda3/bin/conda shell.zsh hook)"'
alias exit-conda='conda deactivate'

# Docker
alias docker-init="sudo service docker start"
alias docker-terminate="sudo service docker stop"

alias files="xdg-open"

# alias proton-exp="/home/tales/.local/share/Steam/steamapps/common/Proton\ -\ Experimental/files/bin/wine"
# alias proton-exp="/home/tales/.local/share/Steam/steamapps/common/Proton\ -\ Experimental/proton"
alias proton-exp="$HOME/.scripts/proton-exp.sh"
# alias proton-ge="/home/tales/.local/share/Steam/compatibilitytools.d/GE-Proton7-20/files/bin/wine"
# alias proton-ge="/home/tales/.local/share/Steam/compatibilitytools.d/GE-Proton7-20/proton"
alias proton-ge="$HOME/.scripts/proton-ge.sh"

# # WSL aliases
# alias explorer="explorer.exe"
# alias system-monitor="xfce4-taskmanager"
# alias notepad="mousepad"
# alias appearance="lxappearance"

# alias firefox-win="'/mnt/c/Arquivos de Programas/Mozilla Firefox/firefox.exe'"

# alias text-editor="flatpak run org.gnome.TextEditor"

alias lol-patch-enable="sh -c 'sysctl -w abi.vsyscall32=0'"
alias lol-patch-disable="sh -c 'sysctl -w abi.vsyscall32=1'"

# alias check-abi="sysctl abi.vsyscall32"
alias lol-patch-check="bash -c $HOME/.scripts/check-abi.sh"


# alias git="LC_ALL=c.UTF-8 git"
# alias git="LANG=en_US.UTF-8 git"

# Distro-Hopping uptime
# alias distro-uptime=" ls -lct /etc | tail -1 | awk '{print $6, $7, $8}' "
function distro-uptime() {
  ls -lct /etc | awk 'END{print $6, $7, $8}'
}


function datediff() {
    d1=$(date -d "$1" +%s)
    d2=$(date -d "$2" +%s)
    echo $(( (d1 - d2) / 86400 )) days
}


# function distro-alive() {
#   birth=$(ls -lct /etc | awk 'END{print $6, $7}'
# }
