[user]
	name = Tales Araujo
	email = talesaraujodossantos@gmail.com
[core]
	editor = nano
[alias]
	# Compact outputs
	st = status -sb
	sf = show --name-only
	lg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s'
	lgg = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --graph
	lgga = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --graph --all

	lg5 = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count 5
	lg15 = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count 15
	lg30 = log --pretty=format:'%Cred%h%Creset %C(bold)%cr%Creset %Cgreen<%an>%Creset %s' --max-count 30
	
	# Fetch incoming commits from upstream
	incoming = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' ..@{u})
	
	# Fetch outgoing commits to upstream
	outgoing = !(git fetch --quiet && git log --pretty=format:'%C(yellow)%h %C(white)- %C(red)%an %C(white)- %C(cyan)%d%Creset %s %C(white)- %ar%Creset' @{u}..)
	
	# Remove files that were meant to be commited
	unstage = reset HEAD --

	# Undo changes made on a certain file
	undo = checkout --

	# Rollback to previous commit
	rollback = reset --soft HEAD~1
